<div class="backcolor">
  <h1>レシピ</h1>
  <div class="container">
    <div class="row">
     <div class="col-lg-4" >
      <%= attachment_image_tag @recipe, :image, :fill,300,200, format:'jpg' %>
     </div>
      <div class="col-lg-8" >
        <table>
          <tr>
            <th>レシピ名</th>
            <td><%= @recipe.cooking_name %></td>
          </tr>
           <tr>
            <th><%= @recipe.amount %></th>
            <td>人分</td>
          </tr>
          <tr>
            <th>レシピ</th>
            <td><%= @recipe.recipe %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= link_to 'お店情報', public_store_path(@store) %></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <%= link_to 'トップページ', root_path %>
  <% if public_user_signed_in? %>
    <% if @recipe.favorited_by?(current_public_user) %>
        <p>
          <%= link_to public_recipe_favorites_path(@recipe), method: :delete do %>
          ♥<%= @recipe.favorites.count %> いいね</p>
          <% end %>
   <% else %>
        <p>
          <%= link_to public_recipe_favorites_path(@recipe), method: :post do %>
            ♡<%= @recipe.favorites.count %> いいね</p>
          <% end %>
    <% end %>
  <% else %>
  <p>ログインして頂くとレシピにいいねをつけたり</br>
  いいねしたレシピの一覧を見ることができます</br>
  ログインページは<%= link_to'こちら',new_public_user_registration_path %></p>
<% end %>

</div>