<div class="backcolor">
  <h1 class="recipeTitle">レシピ</h1>
  <div class="container">
    <div class="row">
     <div class="col-lg-4" >
      <%= attachment_image_tag @recipe, :image, :fill,300,200, format:'jpg' %>
     </div>
      <div class="col-lg-8" >
        <table>
          <tr>
            <th>レシピ名</th>
            <td class="cooking_name"><%= @recipe.cooking_name %></td>
          </tr>
           <tr>
            <th><%= @recipe.amount %></th>
            <td>人分</td>
          </tr>
          <tr>
            <th>レシピ</th>
            <td><%= @recipe.recipe %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= link_to 'お店情報', public_store_path(@store) %></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
  <% if public_user_signed_in? %>
    <% if @recipe.favorited_by?(current_public_user) %>
        <p class="iine">
          <%= link_to public_recipe_favorites_path(@recipe), method: :delete do %>
          ♥<%= @recipe.favorites.count %> いいね</p>
          <% end %>
   <% else %>
        <p class="iine">
          <%= link_to public_recipe_favorites_path(@recipe), method: :post do %>
            ♡<%= @recipe.favorites.count %> いいね</p>
          <% end %>
    <% end %>

  <div>
  <!--<p>コメント件数：<%= @recipe.recipe_comments.count %></p>-->
  <!--<% @recipe.recipe_comments.each do |recipe_comment| %>-->
  <!--  <%= recipe_comment.user.name %>-->
  <!--  <%= recipe_comment.created_at.strftime('%Y/%m/%d') %><%= recipe_comment.comment %>-->
  <!--  <% if recipe_comment.user == current_public_user %>-->
  <!--  <div>-->
  <!--    <%= link_to "削除",public_recipe_recipe_comment_path(recipe_comment.recipe.id), method: :delete %>-->
  <!--  </div>-->
  <!--  <% end %>-->
  <!--<% end %>-->
  <!--</div>-->
  <!--<div>-->
  <!--<%= form_with url: public_recipe_recipe_comments_path(@recipe.id), model: RecipeComment.new, local: true do |f| %>-->
  <!--  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>-->
  <!--  <%= f.submit "送信する" %>-->
  <!--<% end %>-->
  </div>
  <% else %>
  <p>ログインして頂くとレシピにいいねをつけたりコメントを送ったり</br>
  いいねしたレシピの一覧を見ることができます</br>
  ログインページは<%= link_to'こちら',new_public_user_registration_path %></p>
<% end %>



</div>