<div class="backcolor">
   <div class="search">
<%#= form_tag(search_public_recipes_path, method: "get") do %>
 <%#= select_tag 'genre', options_for_select(@genre) %>
 <%#= select_tag 'area', options_for_select(@area) %>
 <%#= select_tag 'station', options_for_select(@station) %>
 <%#= submit_tag "絞り込み検索" %>
<%# end %>

    <%#= form_with url: search_public_recipes_path, method: :get, local: true do |f| %>
    <%#= f.text_area :search_word, placeholder: "ジャンル、エリア、最寄り駅で検索"%>
      <%#= f.submit "検索" %>
    <%# end %>
  </div>
  <div class="rank"><%= link_to 'ランキング!',rank_path %></div>
    <table>
      <tr>
        <th>イメージ</th>
        <th>レシピ名</th>
        <th>何人前</th>
        <th>      </th>
      </tr>
    </table>
  <% @recipes.each do |recipe| %>
    <table>
      <tr>
        <th><%= attachment_image_tag recipe, :image, :fill,200,100, format:'jpg' %></th>
        <th><%= recipe.cooking_name %></th>
        <th><%= recipe.amount %></th>
        <th><%= link_to '詳細',public_recipe_path(recipe) %></th>
      </tr>
    </table>
  <% end %>
  <%= paginate @recipes %>
</div>